
server {
        listen {{server_ipv4}}:{{ server_port }};
        #listen [{{ server_ipv6 }}]:{{ server_port }};
        server_name {{ server_name }};
        root {{ server_root }};
        access_log {{ server_access_log }};
        # static repo files for cloning over https
        location ~ ^.*\.git/objects/([0-9a-f]+/[0-9a-f]+|pack/pack-[0-9a-f]+.(pack|idx))$ {
                root {{ bare_repos_root }}/;
        }

        # requests that need to go to git-http-backend
        location ~ ^.*\.git/(HEAD|info/refs|objects/info/.*|git-(upload|receive)-pack)$ {
                root {{ bare_repos_root }};

                fastcgi_pass {{ fcgiwrap_socket }};
                fastcgi_param SCRIPT_FILENAME   {{ git_http_backend }};
                fastcgi_param PATH_INFO          $uri;
                fastcgi_param GIT_PROJECT_ROOT  {{ bare_repos_root }};
                fastcgi_param GIT_HTTP_EXPORT_ALL "";
                fastcgi_param REMOTE_USER $remote_user;
                include fastcgi_params;
        }

        # send anything else to gitweb if it's not a real file
        try_files $uri @gitweb;
        location @gitweb {
                fastcgi_pass {{ fcgiwrap_socket }};
                fastcgi_param SCRIPT_FILENAME   {{ gitweb_cgi }};
                fastcgi_param PATH_INFO          $uri;
                fastcgi_param GITWEB_CONFIG      {{ gitweb_conf }};
                include fastcgi_params;
        }
}
