[uwsgi]
plugin = python3

project = {{ project }}
project_location = %(project)
username = {{ user }}
base = /home/%(username)
#environment = %(project_location)/env
environment = env

chdir = %(base)/%(project_location)
home = %(base)/%(environment)
module = %(project).wsgi:application
logto = /usr/share/uwsgi.%(project).log

master = true
processes = 2

uid = {{ user }}
gid = {{ group }}
http-socket = {{ http_socket }}
